Code.Application/obj/Debug/net6.0/Code.Application.csproj.CoreCompileInputs.cache
Code.Application/obj/
Code.Domain/bin/
Code.Domain/obj/
CodeChallenge/.vs/
CodeChallenge/bin/
CodeChallenge/obj/
Code.Application/bin/
ClientApp/.editorconfig
